<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
    <title>Spring Security Example </title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/style.css" th:href="@{css/style.css}" />
</head>
<body>
<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" th:href="@{/images/avatar_2x.png}"/>
        <p id="profile-name" class="profile-name-card"></p>

        <form class="form-signin" th:action="@{/login}" method="post">
            <input type="text" name="username" class="form-control" placeholder="User name" required="required" autofocus="autofocus"/>
            <input type="password" name="password" class="form-control" placeholder="Password" required="required"/>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        </form>

        <div th:if="${param.error}">
            Invalid username and password.
        </div>

        <div th:if="${param.logout}">
            You have been logged out.
        </div>

    </div>
</div>
</body>
</html>
